* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: blue;
}
h1 {
    background-color: rgb(163, 73, 164);
    color: rgb(68, 30, 68);
    text-align: center;
    font-size: 70px;
    min-width: 100%;
}

img { position: relative;
    display: inline-block;
    width: 600px;
    margin-left: 0px;
    height: 400px; }
    #menu li{
        position: relative; 
        top: 40%;
        left:29%;
        text-align: center;
        display: inline-block;
    }
    #testediv{
        background-color: rgb(157, 70, 157);
        height: 60px;
    }
    #textocorpo
    {
        color: white;
        display: inline-block;
    }

a:link, a:visited {
    background-color: rgb(61, 167, 63);
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}
a:hover, a:active {
    background-color: rgb(131, 6, 255);
}

#rodape {
        background-color: rgb(159, 80, 0);
        text-align: right;
color: white;
        height: 120px; 
        min-width: 100%;
        margin: 0px 0px 0px 0px;
        margin-top: auto;
}